<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AvoRate - Edit Media</title>
    {% include 'tracker/header.html' %}
  </head>
  <body>
    {% include 'tracker/global_links.html' %}
    <h1><strong>Editing "{{ media.title if media else '' }}"</strong></h1>
    <form
      action="{{ url_for('tracker.edit_media', media_id=(media.id if media else 0)) }}"
      method="POST"
    >
      <fieldset style="width: max-content">
        <table class="form">
          <tr>
            <td>Title</td>
            <td>
              <input
                type="text"
                name="title"
                value="{{ media.title if media else '' }}"
                required
              />
            </td>
          </tr>
          <tr>
            <td>Status</td>
            <td>
              <input
                type="text"
                name="status"
                value="{{ media.status if media else '' }}"
              />
            </td>
          </tr>
          <tr>
            <td>Rating</td>
            <td>
              <input
                type="number"
                name="rating"
                min="0"
                max="10"
                value="{{ media.rating if media else '' }}"
              />
            </td>
          </tr>
          <tr>
            <td>Type</td>
            <td>
              <input
                type="text"
                name="type"
                value="{{ media.type if media else '' }}"
              />
            </td>
          </tr>
          <tr>
            <td>Description</td>
            <td>
              <textarea name="description">
{{ media.description if media else '' }}</textarea
              >
            </td>
          </tr>
        </table>
        <button type="submit" class="btn btn-secondary">
          <strong>Update</strong>
        </button>
      </fieldset>
    </form>
  </body>
</html>
